# FOR LOCAL CREATE A .env.local

# PAYPHONE CONFIG from WEB API: BELAND EXPERIENCE
NEXT_PUBLIC_PAYPHONE_TOKEN=
NEXT_PUBLIC_PAYPHONE_STORE_ID=

# URL TO CONFIRM PAYMENT
NEXT_PUBLIC_PAYPHONE_CONFIRM=https://pay.payphonetodoesposible.com/api/button/V2/Confirm
# UTL TO CONECT BACKEND API WIHTPUT FINAL DASH
NEXT_PUBLIC_BACKEND_URL=https://beland-backend-production-e86c.up.railway.app/api